<html>
    <body>
        <form action="/upload" enctype="multipart/form-data" method="post">
            <input type="file" name="myImage">
            <input type="submit" value="Upload">
        </form>
    </body>
</html>
Raw
